/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  font-size: 14px;
  box-sizing: border-box;
  display: block;
  margin-top: 10px;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

button{
  margin-top: 20px;
}

@media (max-width:500px){
 * {
  font-size: 50px;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
